*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  //transform: translate(-50%, -50%);
}
//
//[data-testid ^= 'bK'].check,
//[data-testid ^= 'wK'].check {
//  box-shadow: inset 0 0 5px 1.5px red;
//}